<!DOCTYPE html>
<html lang="en-US">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    <title>Prototype1</title>

    <script src="jquery-2.1.3.js"></script>
		<script src="jquery.loadTemplate-1.4.4.js"></script>
		<script id="comics" type="text/x-jquery-tmpl">
			<div class="comic"><img src="${imgSrc}" />
				<div class="details">
					<div class="title">
						<h3>${title}</h3>
					</div>
					<div class="year">
						<strong>Year:</strong> ${year}
					</div>
					<div class="number">
						<strong>Issue Number:</strong> ${number}
					</div>
				</div>
			</div>
		</script>
		<script>
			$(document).ready(function() {
				var comics = [
					{ 
						imgSrc : "cover1.jpg",
						title : "Captain Templates",
						year : "2010",
						number : "1"
					},			  
					{ 
						imgSrc : "cover2.jpg",
						title : "Captain Templates",
						year : "2011",
						number : "2"
					},			  
					{ 
						imgSrc : "cover3.jpg",
						title : "Captain Templates",
						year : "2012",
						number : "3"
					}	  			  
				];
				
				$("#comics").tmpl(comics).appendTo("body");
			});
		</script>

</head>
<body>


</body>
</html>
